// body {
//     background-color: red!important
// }
@import "tippy";

#Content {
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Computer Modern Serif'!important;
        font-weight: normal;
    }
    p {
        line-height: 2em;
    }
    * {
    }
}

body {
    font-family: 'Computer Modern Serif'!important;
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Computer Modern Serif'!important;
        font-weight: normal;
    }
    p {
        line-height: 2em;
    }
    * {
    }
}

.tippy-tooltip-content {
    max-width: 500px;
    text-align: left;
    padding: 20px
}